body{
    background-color: black;
    color: white;
}

body h1{
    font-size: 40px;
    font-family: serif;
}

#btn0{
    width: 50px;
    color: black;
    cursor: pointer;
    user-select: none;
    background:  rgb(231, 51, 51);
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 0 rgb(231, 98, 98);
}

#btn0:active{
    position: relative;
    top: 10px;
    box-shadow: none;
}

#btn1{
    width: 50px;
    color: black;
    cursor: pointer;
    user-select: none;
    background: aqua;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 4px 0 rgb(168, 209, 209);
}

#btn1:active:hover{
    position: relative;
    top: 10px;
    box-shadow: none;
}
